.footer {
  background-color: #323232;
  color: white;
  padding: 30px;
  text-align: center;
}
.footercolumn {
  float: left;
  border-right: 2px solid #cbccce;
  text-align: left;
  padding: 10px;
}
.copyright {
  color:grey;
}
.footer h1 {
  font-size: 25px;
}
.contactbuttons {
  padding: 0px 10px 0px 20px;
}
.googlemaps {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.googlemaps iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
