/* Navigationbar */

.nav {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #323232;
}
.buttonr, .dropdownr {
  float: right;
}
.buttonl {
  float: left;
}
.buttonr, .dropdownb, .buttonl {
  display: inline-block;
  text-align: center;
  color: white;
  padding: 18px;
  text-decoration: none;
  border-right: 2px solid #cbccce;
}
.dropdownr {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #323232;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdownr:hover .dropdown-content {
  display: block;
}
.dropdownr:hover, .buttonr:hover, .buttonl:hover, .dropdown-content:hover a {
  background-color: black;
}
.navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Topnav / Topheader */

.topnav {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: white;
}
.navlogo {
  height: 40px;
  width: 150px;
  margin: 12px;
}
.topnavbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.topnavbody-r {
  float: right;
  padding: 10px 0px;
}
.topnavbody-l {
  float: left;
}
.fatopnav {
  color: #323232;
}
.fatopnav:hover {
  color: black;
}

/* Responsive Navigation and topheader */
@media only screen and (max-width: 768px){
.topnavbody-r, .topnavbody-l {
    width: 100%;
    text-align: center;
}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navlogo {
    width: 100%;
    height: 200px;
 }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navlogo {
    width: 100%;
    height: 200px;
 }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navlogo {
    width: 160px;
    height: 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navlogo {
    height: 40px;
    width: 160px;
  }
}
