.projectcolumn {
  display: block;
}
.projectcontent {
  box-shadow: 3px 3px #cbccce;
}
.projectcolumnd {
  text-align: center;
	float: left;
  overflow-wrap: break-word;
  padding: 30px;
}
.projectcolumnd img {
  display: block;
  width: 100%;
}
.projecttitle {
  background-color: white;
  font-size: 20px;
  padding: 10px;
}
.projecttekst {
  background-color: #f2f2f2;
  padding: 10px;
}
