* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #f7f4f2;
  color: black;
  background-image: url("img/headerimg.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 70%;}
.col-10 {width: 75%;}
.col-11 {width: 83.33%;}
.col-12 {width: 91.66%;}
.col-13 {width: 100%;}

.header {
  padding: 80px 20px 340px 20px;
  text-align: center;
  color: white;

}
.headertitle {
  padding: 15px;
}
.headbuttonbody {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.headbutton {
  float: left;
  padding: 20px;
}

.headbutton {
  width: 33,33%;
}
.headbutton img {
  heigth: 140px;
  width: 160px;
}
.nav {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #323232;
}
.buttonr, .dropdownr {
  float: right;
}
.buttonl {
  float: left;
}
.buttonr, .dropdownb, .buttonl {
  display: inline-block;
  text-align: center;
  color: white;
  padding: 15px;
  text-decoration: none;
}
.dropdownr {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #323232;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdownr:hover .dropdown-content {
  display: block;
}
.dropdownr:hover, .buttonr:hover, .buttonl:hover, .dropdown-content:hover a {
  background-color: black;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.boxcontent {
  overflow-wrap: break-word;
  padding: 30px;
  margin: 20px 10px;
  background-color: white;
  box-shadow: 3px 3px #cbccce;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}

@media only screen and (max-width: 768px) {
   [class*="col-"]{
     width: 100%;
  }
}
.footer {
  background-color: #323232;
  color: white;
  padding: 10px;
  text-align: center;
}
.footercolumn {
  float: left;
  border-right: 2px solid black;
  text-align: left;
  padding: 10px;
}
.copyright {
  color:grey;
}
.footer h1 {
  font-size: 25px;
}
.contactbuttons {
  padding: 0px 10px 0px 20px;
}
table {
    border-collapse: collapse;
}
th, td {
  padding: 8px;
  border-bottom: 2px solid #323232;
}
th {
  background-color: #59836e;
}
td {
  background-color: #4c4c4c;
}
.wtitle {
  font-family: 'Rokkitt', serif;
  font-size: 60px;
  font-weight: bold;
}
.stitle {
  font-style: italic;
}
.projectcolumn {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 30px;
  padding: 30px;
  box-shadow: 3px 3px #cbccce;
}
.projectcolumn > .projectcolumnd {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;

}
@media screen and (max-width: 600px) {
  .projectcolumn {
    width: 100%;
  }
}
.projectcolumnd img {
  width: 100%;
}
